
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <!-- post.contentを使って書き換えてください -->
        <%= link_to(post.content,"/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>
